<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>PolkanDo's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> PolkanDo's Django Blog </a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                <p>published: {{ post.published_date }}</p>
                <hi><a href="">{{ post.title }}</a></hi>
                <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>